@model Library_MVC.Models.Warning

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Warning</legend>

    <div class="display-label">WarningType</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.WarningType).ToString()</div>

    <div class="display-label">Member</div>
    <div class="display-field">@(Model.Member == null ? "None" : Model.Member.Name)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


