@model Library_MVC.Models.Warning

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Warning</legend>

    <div class="display-label">WarningType</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.WarningType).ToString()</div>

    <div class="display-label">Member</div>
    <div class="display-field">@(Model.Member == null ? "None" : Model.Member.Name)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.WarningID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


